/*================common css==================*/
body{
    font-size: 14px;
    font-family: "Microsoft YaHei",sans-serif;
    color: #333;
}
a{
    color: #333;
}
a:hover{
    color: #e92322;
    text-decoration: none;
}
@font-face {
    font-family: 'wjs_fonts';
    src:
    url('../fonts/MiFie-Web-Font.svg') format('svg'),
    url('../fonts/MiFie-Web-Font.ttf') format('truetype'),
    url('../fonts/MiFie-Web-Font.woff') format('woff'),
    url('../fonts/MiFie-Web-Font.eot') format('embedded-opentype');
}
.wjs_icon{
    font-family: wjs_fonts;
}
.wjs_icon_phone::before{
    content: "\e908";
}
.wjs_icon_tel::before{
    content: "\e909";
}
.wjs_icon_logo::before{
    content: "\e920";
}
.wjs_icon_word::before{
    content: "\e93e";
}
.wjs_icon_lock::before {
    content: "\e903";
}
.wjs_icon_clock::before{
    content: "\e906";
}
.wjs_icon_video::before{
    content: "\e905";
}
.m_l10{
    margin-left: 10px;
}
/*================model css===================*/
/*头部*/
.wjs_header{
    border-bottom: 1px solid #ccc;
}
.wjs_header > .container{}
.wjs_header > .container > .row{}
.wjs_header > .container > .row > div{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: #666;
}
.wjs_header > .container > .row > div + div{
    border-left: 1px solid #ccc;
}
.wjs_header .wjs_app{
    position: relative;
    z-index: 99999;
    display: block;
}
.wjs_header .wjs_app img{
    display: none;
}
.wjs_header .wjs_app:hover img{
    display: block;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -60px;
    border: 1px solid #ccc;
    border-top: none;
}
.wjs_header a{
    color: #666;
}
.wjs_header a:hover{
    color: #666;
}
.wjs_header .btn-register{
    background: #e92322;
    color: #fff;
    border: none;
    padding: 3px 12px;
}
.wjs_header .btn-register:hover{
    color: #fff;
}
.wjs_header .btn-login:hover{
    text-decoration: none;
}
/*
.wjs_header > .container > .row > div:first-child{
    border-left: none;
}*/


/*导航栏*/
.wjs_nav {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
}

.wjs_nav .wjs_icon_logo{
    font-size: 50px;
    color: #e92322;
    vertical-align: middle;
}
.wjs_nav .wjs_icon_word{
    font-size: 36px;
    color: #333;
    vertical-align: middle;
}

.wjs_nav .navbar-brand {
    color: #777;
    height: 80px;
    line-height: 50px;
}
.wjs_nav .navbar-brand:hover,
.wjs_nav .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.wjs_nav .navbar-text {
    color: #777;
}
.wjs_nav .navbar-nav > li > a {
    color: #777;
    height: 80px;
    line-height: 50px;
}
.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav > .active > a,
.wjs_nav .navbar-nav > .active > a:hover,
.wjs_nav .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #fff;
    border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav > .disabled > a,
.wjs_nav .navbar-nav > .disabled > a:hover,
.wjs_nav .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.wjs_nav .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
    margin-bottom: 23px;
}
.wjs_nav .navbar-toggle:hover,
.wjs_nav .navbar-toggle:focus {
    background-color: #ddd;
}
.wjs_nav .navbar-toggle .icon-bar {
    background-color: #888;
}
.wjs_nav .navbar-collapse,
.wjs_nav .navbar-form {
    border-color: #e7e7e7;
}
.wjs_nav .navbar-nav > .open > a,
.wjs_nav .navbar-nav > .open > a:hover,
.wjs_nav .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.wjs_nav .navbar-link {
    color: #777;
}
.wjs_nav .navbar-link:hover {
    color: #333;
}
.wjs_nav .btn-link {
    color: #777;
}
.wjs_nav .btn-link:hover,
.wjs_nav .btn-link:focus {
    color: #333;
}
.wjs_nav .btn-link[disabled]:hover,
fieldset[disabled] .wjs_nav .btn-link:hover,
.wjs_nav .btn-link[disabled]:focus,
fieldset[disabled] .wjs_nav .btn-link:focus {
    color: #ccc;
}


/*轮播图*/
/*移动端*/
.wjs_banner .m_img{
           width: 100%;
           display: block;
       }
.wjs_banner .m_img img{
    width: 100%;
    display: block;
}
/*非移动端*/
.wjs_banner .pc_img{
    width: 100%;
    display: block;
    height: 410px;
    background-size: cover ;
    background-position: center;
}


/*信息*/
.wjs_info{
    padding: 50px 0;
    border-bottom: 1px solid #ccc;
}
.wjs_info > .container{
    width: 910px;
}
@media screen and (max-width: 992px) {
    .wjs_info > .container{
        width: 100%;
    }
}
.wjs_info .wjs_icon_lock{
    font-size: 30px;
}
.wjs_info .wjs_info_link{
    display: block;
}
.wjs_info .wjs_info_link > .media{
    padding: 10px 0;
}

/*预约*/
.wjs_book{
    padding: 25px 0;
    border-bottom: 1px solid #ccc;
}
.wjs_book > .container{
    width: 910px;
}
@media screen and (max-width: 992px) {
    .wjs_book > .container{
        width: 100%;
    }
}
.wjs_book .wjs_icon_clock{
     font-size: 24px;
 }
.wjs_book .wjs_icon_video{
    font-size: 26px;
}
.wjs_book  .wjs_book_link{
    color: #e92322;
    border-bottom: 1px dashed #e92322;
}


/*产品*/
.wjs_product{
    padding: 15px 0;
}
.wjs_product .nav-tabs {
    border-bottom: 1px solid #ddd;
}
.wjs_product .nav-tabs > li {
    float: left;
    margin-bottom: 0;
    padding-left: 20px;
}
.wjs_product .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    border-radius: 4px 4px 0 0;
}
.wjs_product .nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
    background-color:#fff ;
}
.wjs_product .nav-tabs > li.active > a,
.wjs_product .nav-tabs > li.active > a:hover,
.wjs_product .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid #e92322;
}
.wjs_product .nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.wjs_product .nav-tabs.nav-justified > li {
    float: none;
}
.wjs_product .nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.wjs_product .nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .wjs_product .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .wjs_product .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.wjs_product .nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.wjs_product .nav-tabs.nav-justified > .active > a,
.wjs_product .nav-tabs.nav-justified > .active > a:hover,
.wjs_product .nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 768px) {
    .wjs_product .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .wjs_product .nav-tabs.nav-justified > .active > a,
    .wjs_product .nav-tabs.nav-justified > .active > a:hover,
    .wjs_product .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;

    }
}